*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{
font-family:'Cairo',sans-serif;
background:#f7f9fc;
color:#222;
}

header{
background:#0B57D0;
position:sticky;
top:0;
z-index:999;
box-shadow:0 5px 20px rgba(0,0,0,.15);
height:95px;
}

.container{
max-width:1200px;
margin:auto;
padding:10px 5%;
display:flex;
justify-content:space-between;
align-items:center;
}

.container{
max-width:1200px;
margin:auto;
padding:15px 5%;
display:flex;
justify-content:space-between;
align-items:center;
}

.logo img{
width:80px;
height:80px;
object-fit:contain;
border-radius:50%;
background:white;
padding:5px;
}
.logo h1{
color:white;
font-size:32px;
font-weight:900;
}

nav{
display:flex;
gap:25px;
}

nav a{
color:white;
text-decoration:none;
font-weight:700;
}

nav a:hover{
color:#ff8300;
}


.hero{
min-height:85vh;
background:linear-gradient(135deg,#0B57D0,#003A99);
display:flex;
justify-content:center;
align-items:center;
text-align:center;
color:white;
padding:50px 8%;
}

.hero h2{
font-size:65px;
font-weight:900;
}

.hero p{
font-size:24px;
line-height:1.8;
margin:25px 0;
}


.btn{
display:inline-block;
background:#ff8300;
color:white;
padding:15px 40px;
border-radius:50px;
text-decoration:none;
font-size:20px;
font-weight:bold;
}


.section{
padding:80px 8%;
}


.section-title{
text-align:center;
font-size:42px;
color:#0B57D0;
margin-bottom:40px;
}


.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}


.card{
background:white;
padding:30px;
border-radius:20px;
box-shadow:0 10px 25px rgba(0,0,0,.08);
}


.card h3{
color:#0B57D0;
margin-bottom:15px;
}


footer{
background:#111827;
color:white;
text-align:center;
padding:30px;
}


@media(max-width:900px){

nav{
display:none;
}

.hero h2{
font-size:45px;
}

}
